<% @page_title =  "BacklogTracker - Steam collection stats for #{@vanity_name || @id}"%>

<div class="title">
  <h1>Steam collection stats for <%= @vanity_name || @id %></h1>
</div>

<div class="stats-info-container">
  <div class="stat-info box-left">
    <h3>Played vs. unplayed (backlog)</h3>
    <p>Number of games in collection:<br /><span class="bold"><%= @collection_data.games.count %></span></p>
    <% percent_unplayed = (Float(@collection_data.unplayed_games.count) / Float(@collection_data.games.count) * 100.0).round(2) %>
    <p>Number of games not yet played:<br />
      <span class="bold"><%= @collection_data.unplayed_games.count %> (<%= percent_unplayed %>%)</span>
    </p>
    <p>I'm feeling lucky:<br />
      <span class="bold">🎲 <%= link_to 'backlog roulette', backlog_roulette_path(@vanity_name || @id) %> 🎰</span>
    </p>
  </div>
  <div class="stat-info box-right">
    <h3>Total time played</h3>
    <p>Total hours played:<br /><span class="bold"><%= @collection_data.total_hours_played %></span></p>
    <p>days: <span class="bold"><%= (@collection_data.total_hours_played / 24.0).round(2) %></span>&nbsp;
      weeks: <span class="bold"><%= (@collection_data.total_hours_played / 24.0 / 7.0).round(2) %></span>&nbsp;
      YEARS: <span class="bold"><%= (@collection_data.total_hours_played / 24.0 / 365.0).round(2) %></span></p>
    <p>Average hours/game:<br />
      <span class="bold">
        <%= (@collection_data.total_hours_played / Float(@collection_data.games.count)).round(2) %>
      </span>
    </p>
  </div>
  <div class="clear" ></div>
</div>

<div class="stats-info-container">
  <div class="game-playtime-list box-left" style="text-align:left">
    <h3>
      <span><%= @vanity_name || @id %>'s games</span>
      <span style="float: right">playtime (% of total)</span>
    </h3>
    <ul class="list-box game-list">
      <% games = @collection_data.games.select {|g| g.playtime_forever.positive? } %>
      <% games.sort_by(&:playtime_forever).reverse.each do |game| %>
        <li>
          <span style="float: left"><%= game %></span>
          <span style="float: right">
          <%= game.playtime %>
            &nbsp;
          (<%= total_playtime_percent_string(game, @collection_data) %>%)
        </span>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="friend-list box-right" style="text-align:left">
    <h3><%= @vanity_name || @id %>'s friends</h3>
    <ul class="list-box ghost-list">
      <% @ids_to_vanities.sort_by {|_id, vanity| vanity&.to_s&.downcase }.each do |id, vanity| %>
        <% user_id = vanity || id %>
        <li><%= link_to(user_id, user_games_path(user_id)) %></li>
      <% end %>
      <%# @ids_and_vanities.sort_by {|i| i[:persona_name]&.to_s&.downcase }.each do |blob| %>
<!--        <li><%#= link_to(blob[:persona_name], user_games_path(user_id: blob[:id])) %></li>-->
      <%# end %>
    </ul>
  </div>
  <div class="clear"></div>
</div>
