<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "Backlogtracker" %></title>
  <link rel="icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', <%= ENV['GA_ID'] %>]);
    _gaq.push(['_setDomainName', <%= ENV['GA_DOMAIN'] %>]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div class="body-container">
    <div class="menu-bar">
      <ul class="menu-list">
        <li class="menu-link"><a href="#">Home</a></li>
        <li class="menu-link"><a href="#">Lookup User</a></li>
      </ul>
    </div>
    <div class="main-content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
